<main>
  <ng-template [ngIf]="getDadosHeader">
    <h1>{{getDadosHeader.nome}}</h1>
    <h1>{{getDadosHeader.idade}}</h1>
  </ng-template>


  <!-- contador é uma propriedade que recebe o valor dentro da variável addValue -->
  <!-- (enviarDados) é o eventEmiter dentro do componente header, que ao receber um valor dispara o evento e chama a função setDados passando o evento, que nesse caso é o objeto passado para o eventEmiter enviarDados -->
  <app-header-shared
    [contador]="addValue"
    (enviarDados)="setDados($event)"
  ></app-header-shared>


  <button (click)="adicionar()">Adicionar</button>
  <app-diretivas-atributo>
    <h3>ng content funciona como um children</h3>
    <h2>O select do ng-content serve para indicar qual dos filhos ele vai receber</h2>
  </app-diretivas-atributo>
</main>
